.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-button {
  background-image: url(../images/spots-images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin-top: 0;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__title {
   margin: 0 ;
  font-weight: 500;
   text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-size: 20px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {

card__title {
    max-width: 235px;
    font-size: 20px;
    
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card {
    width: 288px;
  }
}
