.modal {
visibility: hidden;
background-color: #00000080;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
opacity: 0;
}

.modal__is-opened{
visibility: visible;
opacity: 1;


}

.modal__container{
max-width: 730px;
width: 100%;
border-radius: 8px;
background-color: #fff;
padding: 32px 50px;
position: relative;
}

.modal__close-btn{
position: absolute;
top: 32px;
right: 50px;
width: 40px;
height: 40px;
background: url(../images/spots-images/Close_Icon.svg);
border: none;


}

.modal__title{
margin: 0 0 32px;


}

.modal__form{
    display: flex;
    flex-direction: column;



}

.modal__label{
display: flex;
flex-direction: column;
margin: 0 0 32px;



}

.modal__input{
margin: 8px 0 0;
height: 52px;

}

.modal__input::placeholder{
color:#2121214D;


}

.modal__submit-btn{
max-width: 156px;
height: 52px;
border-radius: 8px;
background-color: #212121;
color: #FCF5E5;


}