.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px #212121 solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500px;
  font-size: 32px;
  line-height: 1;
max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;


}

.profile__description {
  margin: 0;
  opacity: 0.7;max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  margin-right: auto;
  opacity: 0.7;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  margin-top: auto;
  margin-left: auto;
  border: none;
  background-color: black;
 color: #fcf5e5;
  border-radius: 8px;
  padding: 18px 32px;
}

.profile__add-btn:hover {
  opacity: .8;
  cursor: pointer;
}

.profile__edit-icon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;


  }

  .profile__add-btn {
    margin: 0;

    width: 100%;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 0 auto
  }

}

.profile__column {
  margin: 0 0 20px;

}


.profile__description {
  margin: 0 0 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}